<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blockchain NEC</title>
</head>
<body>
<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th colspan="4">Blocks</th>
        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Diff</th>
            <th scope="col">Builder</th>
            <th scope="col">Closed at</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>